#忽略原则：非根本性文件，垃圾文件，可以从其他文件生成的文件都应该忽略掉

#忽略掉MacOS的垃圾回收文件：没啥用
.DS_Store
#忽略掉IDEA的项目配置文件：太碍眼
.idea/*
#忽略调class文件：因为class文件文件可以由java生成
*.class
#忽略iml文件：跟IDE相关，不要
*.iml
#忽略掉target文件夹：这个是成品目录，没啥卵用，可以自己从java生成
